version: '3'
services:
  postgres:
    image: "postgres:9.6.21"
    networks:
      - frontend
    ports:
      - "5432:5432"
    restart: always
    user: 1000:1000
    environment:
      - POSTGRES_USER=dinesh
      - POSTGRES_PASSWORD=simple
      - POSTGRES_DB=dinesh-micro-apps
    volumes:
      - ./data:/var/lib/postgresql/data:z # persist data even if container shuts down
  
  # backend:
  #   image: "dineshsonachalam/adp-ny-hackathon-backend:latest"
  #   environment:
  #     - PYTHONUNBUFFERED=1
  #   networks:
  #     - frontend
  #   ports:
  #     - "8001:8001"
  #   depends_on:
  #     - postgres
      
networks:
  frontend: