name: Docker

on:
  push:
    branches:
      - master
    tags:
      - latest

jobs:
  integration-tests:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Start the postgres container
          run: |
            echo "127.0.0.1 postgres" | sudo tee -a /etc/hosts
            docker run \
            -d -p 5432:5432 \
            -e "POSTGRES_USER=dinesh" \
            -e "POSTGRES_PASSWORD=simple" \
            -e "POSTGRES_DB=dinesh-micro-apps" \
            -v $(pwd)/data:/var/lib/postgresql/data:z \
            postgres:9.6.21 
            echo $(pwd)
            ls
            sleep 25

        - name: Install backend and frontend dependencies
          run: |
            pip3 install -r backend/requirements.txt
            npm i --prefix frontend
        
        - name: Start backend and frontend applications in the background
          run: |
            cd backend
            python3 main.py &
            cd ..
            sleep 15
            curl --location --request GET 'http://0.0.0.0:8001/battles'

        - name: API testing
          run: |
            npm run start --prefix frontend &
            pytest backend -s

        - name: Cypress End to End testing
          uses: cypress-io/github-action@v2
          with:
            working-directory: frontend

  upload-docker-image:
    needs: integration-tests
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2

      - name: Build backend and frontend image
        run: |
          npm i --prefix frontend
          npm run build --prefix frontend
          docker build --no-cache -t dineshsonachalam/adp-ny-hackathon-backend:latest -f backend.Dockerfile .
          docker build --no-cache -t dineshsonachalam/adp-ny-hackathon-frontend:latest -f frontend.Dockerfile .

      - name: Log into registry
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Push image
        run: |
          docker push dineshsonachalam/adp-ny-hackathon-backend:latest
          docker push dineshsonachalam/adp-ny-hackathon-frontend:latest
  deploy-to-k8-cluster:
    needs: upload-docker-image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Backend deployment rolling restart to fetch recently build docker image from docker hub.
      uses: steebchen/kubectl@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
      with:
        args: rollout restart deployment adp-backend -n=dinesh
    - name: Verify deployment for Backend app
      uses: steebchen/kubectl@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        KUBECTL_VERSION: "1.15"
      with:
        args: rollout status deployment/adp-backend -n=dinesh
    - name: Frontend deployment rolling restart to fetch recently build docker image from docker hub.
      uses: steebchen/kubectl@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
      with:
        args: rollout restart deployment adp-frontend -n=dinesh
    - name: Verify deployment for Frontend app
      uses: steebchen/kubectl@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        KUBECTL_VERSION: "1.15"
      with:
        args: rollout status deployment/adp-frontend -n=dinesh
